@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'archia';
    src: url('$lib/fonts/archia/archia-regular-webfont.eot');
    src: url('$lib/fonts/archia/archia-regular-webfont.eot?#iefix') format('embedded-opentype'),
	url('$lib/fonts/archia/archia-regular-webfont.woff2') format('woff2'),
	url('$lib/fonts/archia/archia-regular-webfont.woff') format('woff'),
	url('$lib/fonts/archia/archia-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

h1,h2,span {
    font-family: 'Alegreya', serif;
    font-weight: 900;
}

* {
    font-family: 'archia';
    scroll-behavior: smooth;
}

.archia {
    font-family: 'archia';
}

.alegreya {
    font-family: 'Alegreya', serif;
    font-weight: 900;
}
